
<div id="app">
  <P v-if="ok">ok</P>
  <P v-else-if="maybeok">maybeok..</P>
  <P v-else>not ok...</P>
</div>


<script>
  new Vue({
    el: '#app',
    data: {
      ok: false,
      maybeok: false
    }
  })
</script>


