<div id="app">
  <p>{{message}}</p>
  <p>{{mydata}}</p>
  <hello></hello>
  <hello></hello>
</div>

<div id="app2"></div>
<div id="app3"></div>
<div class="hello"></div>


<script>

var data = {
    message: 'こんにちは'
  }

Vue.component('hello', {
  template: '<p>こんにちは</p>'
});

var vm = new Vue({
  data: data,
  computed: {
    mydata: function() {
      return this.$data;
    }
  }
})

vm.$mount('#app')

new Vue({
  data: {
    name: 'taka'
  },
  template: '<h1>{{name}}</h1>'
}).$mount('#app2')

new Vue({
  data: {
    name: 'taka'
  },
  render: function(createElement) {
    return createElement('h1', this.name);
  }
}).$mount('#app3')

new Vue({
  el: '.hello',
  template: '<P>こんにちは!!</P>'
})

</script>












