
<div id="app">
  <P>現在、{{ number }}回クリックされています</P>
  <button v-on:click="countup">カウントアップ</button>
  <P v-on:mousemove="mousePosition">マウスのせ</P>
  <P>x:{{x}}、y:{{y}}</P>
</div>


<script>
  new Vue({
  el: '#app',
  data: {
   number: 0,
   x: 0,
   y: 0
  },
  methods: {
    countup: function() {
      this.number += 1
    },
    mousePosition: function(event) {
      this.x = event.clientX;
      this.y = event.clientY;
    }
  }
})
</script>