<div id="app">
  <p>{{message}}</p>
  <p>{{mydata}}</p>
</div>

<div id="app2">
</div>


<script>

var data = {
    message: 'こんにちは'
  }

var vm = new Vue({
  data: data,
  computed: {
    mydata: function() {
      return this.$data;
    }
  }
})

vm.$mount('#app')

new Vue({
  data: {
    name: 'taka'
  },
  template: '<h1>{{name}}</h1>'
}).$mount('#app2')

</script>



