
<div id="app">
  <P>現在、{{ number }}回クリックされています。</P>
  <button @click="countup">カウントアップ</button>
</div>


<script>
  new Vue({
  el: '#app',
  data: {
   number: 0
  },
  methods: {
    countup: function() {
      this.number += 1
    }
  }
})
</script>






